@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.nav-link {
  transition: none;
}

.nav-item button.nav-link {
  color: $gray-700;
  background: var(--bs-light);
}

.nav-item:first-child button.nav-link {
  border-left: 0;
}

.nav-item:last-child button.nav-link {
  border-right: 0;
}

.chevron-trigger {
  transition: transform 0.35s ease;
}